<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle del Curso</title>
</head>
<body>
<h1>Detalle del Curso</h1>
<p>ID: <span th:text="${curso.id}"></span></p>
<p>Nombre: <span th:text="${curso.nombre}"></span></p>
<p>Categoría: <span th:text="${curso.categoria.nombre}"></span></p>
<p>Turno: <span th:text="${curso.turno}"></span></p>
<p>Profesor: <span th:text="${nombreProfesor}"></span></p>

<body>
<h1>Editar Curso</h1>
<form th:action="@{'/admin/cursos/' + ${curso.id}}" method="post">
    <input type="hidden" name="_method" value="put">

    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" th:value="${curso.nombre}" required><br>

    <label for="categoriaId">Categoría ID:</label>
    <input type="number" id="categoriaId" name="categoria.id" th:value="${curso.categoria.id}" required><br>

    <label for="profesorId">Profesor ID:</label>
    <input type="number" id="profesorId" name="profesor.id" th:value="${curso.profesor != null ? curso.profesor.id : ''}" required><br>

    <button type="submit">Actualizar</button>
</form>
</body>
</html>